<div class="pt-3 pb-2 mb-3 border-bottom">
  <a routerLink="/roles/create" [hidden]="!role_perm?.includes('add_role')" class="btn btn-sm btn-outline-secondary">Add</a>
  <app-search (serachEmitter)="search = $event;load(1)" ></app-search>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>
        <div #name class='top_end' style="cursor: pointer;" (click)="sortroles('name',name)">
          <a href="javascript:void(0)" >Name</a>
          <i *ngIf="IsFirstSorted" class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
      </th>
      <th *ngIf="role_perm.includes('delete_role')||role_perm.includes('change_role')">Action</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles">
      <td>{{role.id}}</td>
      <td>{{role.name}}</td>
      <td>
        <div class="btn-group mr-2">
          <a *ngIf="role_perm?.includes('change_role')" [routerLink]="['/roles', role.id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
          <a *ngIf="role_perm?.includes('delete_role')" href="javascript:void(0)" class="btn btn-sm btn-outline-secondary"
             (click)="delete(role.id)"
          >Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-paginator
  [lastPage]="last_page"
  (pageChanged)="load($event)"
></app-paginator>
</div>
