<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>Forbiddent</span></div>
                <span class="inner-status">Access Limited</span>
                <span class="inner-detail">Unfortunately this page was meant for you,please go back!!!!.</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>