<div  class="pt-3 pb-2 mb-3 border-bottom">
  <a *ngIf="user_perm?.includes('add_user')" routerLink="/users/create"  class="btn btn-sm btn-outline-secondary">Add</a>
  <app-search (serachEmitter)="search = $event;load(1)" ></app-search>
</div>

<div class="table-responsive">
  <ng-select [items]="role_list"
            [virtualScroll]="true"
            bindLabel="name" 
            bindValue="id"
            (change)="filter($event)"
            (open)="getfilter()"
            placeholder="Filter by role"
            >

  </ng-select>
  <table *ngIf="users" class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th><div #name class='top_end' style="cursor: pointer;" (click)="sortObject('first_name',name,1)">
        <a href="javascript:void(0)" >Name</a>
        <i  *ngIf="is_sort_column['first_name']" class="fa fa-arrow-down" aria-hidden="true"></i>
        
        </div></th>
      <th>
        <div #email class='top_end' style="cursor: pointer;" (click)="sortObject('email',email,2)">
        <a href="javascript:void(0)" >Email</a>
        <i *ngIf="is_sort_column['email']" class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
      </th>
      <th>Role</th>
      <th *ngIf="user_perm.includes('delete_user')||user_perm.includes('change_user')">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td  *ngIf="user.groups[0] else norole" > {{user.groups[0].name}} </td>
      <ng-template #norole><td>no role</td></ng-template>
      
      <td>
        <div class="btn-group mr-2">
          <a  [routerLink]="['/users', user.id, 'edit']" [hidden]="!user_perm?.includes('change_user')" class="btn btn-sm btn-outline-secondary">Edit</a>
          <a  href="javascript:void(0)" [hidden]="!user_perm?.includes('delete_user')" class="btn btn-sm btn-outline-secondary"
             (click)="delete(user.id)"
          >Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
    
  </table>
</div>

<app-paginator
  [lastPage]="lastPage"
  (pageChanged)="load($event)"
></app-paginator>
