<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a *ngIf="lastPage>1" (click)="next(page-1)" class="page-link" href="javascript:void(0)">Previous</a></li>
    <li *ngFor="let number of page_list" class="page-item">
      <a (click)="next(number)" class="page-link" href="javascript:void(0)">{{number}}</a>
    </li>
    
    <li class="page-item">
      <a  *ngIf="lastPage>1" (click)="next(page+1)" class="page-link" href="javascript:void(0)">Next</a>
    </li>
  </ul>
</nav>
