<div class="pt-3 pb-2 mb-3 border-bottom">
  <a (click)="export()" class="btn btn-sm btn-outline-secondary">Export</a>
</div>

<div class="table-responsive">
  <table class="table table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>
        <div #name class='top_end' style="cursor: pointer;" (click)="sortorders('name',name)">
        <a href="javascript:void(0)" >Name</a>
        <i *ngIf="IsFirstSorted" class="fa fa-arrow-down" aria-hidden="true"></i>
      </div>
    </th>
      <th>
        <div #email class='top_end' style="cursor: pointer;" (click)="sortorders('email',email)">
          <a href="javascript:void(0)" >Email</a>
          <i *ngIf="IsFirstSorted" class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
      </th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let order of orders">
      <tr>
        <td id="id">{{order.id}}</td>
        <td > {{order.name}}</td>
        <td  id="email">{{order.email}}</td>
        <td id="total">{{order.total}}</td>
        <td>
          <div class="btn-group mr-2">
            <a class="btn btn-sm btn-outline-secondary" (click)="select(order.id)">View</a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="overflow-hidden" [@tableState]="itemState(order.id)">
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Product Title</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of order.order_items">
                <td>{{item.id}}</td>
                <td>{{item.product_title}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<app-paginator
  [lastPage]="lastPage"
  (pageChanged)="load($event)"
></app-paginator>
